<nav class="navbar navbar-default navbar-footer navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav visible-xs">
        <li><a href="/survey"><i class="fa fa-check"></i> Survey</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.social.youtube }}"><i class="fa fa-youtube-play"></i> Subscribe</a></li>
        <li><a href="https://twitter.com/{{ site.social.twitter }}"><i class="fa fa-twitter"></i> Follow</a></li>
      </ul>
    </div>
  </div>
</nav>
