<footer>
  <div class="container my-4">
    <a class="btn btn-warning" href="/feed.xml"><i class="fas fa-rss"></i></a>
    <a class="btn btn-warning" href="https://twitter.com/thehackerbio"><i class="fab fa-twitter"></i></a>
    <!-- <a class="btn btn-warning" href="#"><i class="fas fa-podcast"></i></a> -->
    <a class="btn btn-warning" href="https://www.youtube.com/channel/UChKvchmAvT6mThad--aztvg"><i class="fab fa-youtube"></i></a>
    <a class="btn btn-warning" href="#"><i class="fab fa-itunes-note"></i></a>
    <a class="btn btn-warning" href="#"><i class="fab fa-google-play"></i></a>
  </div>
</footer>
