<footer>
  <div class="container my-4">
    <div class="row">
      <a class="my-2 col-12 col-sm-3" target="_blank" href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9oYWNrZXIuYmlvL2ZlZWQueG1s"><img src="/assets/images/badges/google-podcasts.svg"/></a>
      <a class="my-2 col-12 col-sm-3" target="_blank" href="https://itunes.apple.com/ca/podcast/hacker-bio/id1407570151"><img src="/assets/images/badges/apple-podcasts.svg"/></a>
      <a class="my-2 col-12 col-sm-3" target="_blank" href="https://www.stitcher.com/podcast/hacker-bio"><img src="/assets/images/badges/stitcher.svg"/></a>
      <a class="my-2 col-12 col-sm-3" target="_blank" href="https://soundcloud.com/hackerbio/"><img src="/assets/images/badges/soundcloud.svg"/></a>
      <a class="my-2 col-12 col-sm-3" target="_blank" href="#comingsoon"><img src="/assets/images/badges/spotify.svg"/></a>
      <a class="my-2 col-12 col-sm-3" target="_blank" href="#comingsoon"><img src="/assets/images/badges/tunein.svg"/></a>
      <a class="my-2 col-12 col-sm-3" target="_blank" href="/feed.xml" rel="alternate" type="application/rss+xml"><img src="/assets/images/badges/rss.svg"/></a>
    </div>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('a[href="#comingsoon"]').forEach(a => {
      a.addEventListener('click', event => {
        event.preventDefault()
        alert('Coming Soon!\n\nPending publisher approvals! 🤷')
      })
    })
  })
</script>
