---
layout: base
---

<section class="my-5">
  <header class="d-md-flex flex-space-between align-items-center justify-content-between">
    <h1>{{ page.name }}</h1>
    <h5><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }} @ {{ page.date | date: '%I:%M %p' }} EST</time></h5>
  </header>


  <div class="my-5 photo">
    <img src="/hackers/{{ page.slug }}/photo.jpg" alt="{{ page.name }}"/>

    {% if page.media.audio.duration %}
      <div class="player">
        <audio crossorigin playsinline>
          <source src="http://storage.googleapis.com/hacker-bio.appspot.com/{{ page.slug }}/audio.mp3" type="audio/mp3">
        </audio>
      </div>
    {% endif %}
  </div>
  <div class="lead">{{ content }}</div>
</section>

{% if page.media.youtube %}
  <h2 class="my-5">Watch Recording</h2>

	<video controls crossorigin playsinline poster="/hackers/{{ page.slug }}/youtube.jpg">
    <source src="http://storage.googleapis.com/hacker-bio.appspot.com/{{ page.slug }}/video.mp4" type="video/mp4" size="720">
	</video>
{% elsif page.crowdcast %}
  <h2 class="my-5">Watch Live Stream</h2>

  <iframe id="crowdcast" width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0" allowtransparency="true" src="{{ page.crowdcast }}?navlinks=false&embed=true" style="border: 1px solid #EEE;border-radius:3px;" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" allow="microphone; camera;"></iframe>
{% endif %}


<script src="https://unpkg.com/plyr@latest/dist/plyr.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const publisherId = 891530901789062
    window.audio = new Plyr('audio', { enabled: true, publisherId });
    window.youtube = new Plyr('video', { enabled: true, publisherId });
  })
</script>
