---
layout: base
---

<section class="my-5">
  <header class="d-flex flex-space-between align-items-center justify-content-between">
    <h1>{{ page.name }}</h1>
    <h5><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }} @ {{ page.date | date: '%I:%M %p' }} EST</time></h5>
  </header>
  <div class="my-5"><img src="/hackers/{{ page.slug }}/photo.jpg" alt="{{ page.name }}"/></div>
  <div class="lead">{{ content }}</div>
</section>

{% if page.media %}

{% elsif page.crowdcast %}
  <a href="#crowdcast" class="btn btn-lg btn-block btn-warning">Live show on Crowdcast</a>
{% endif %}

{% if page.crowdcast %}
  <iframe id="crowdcast" class="my-5" width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0" allowtransparency="true" src="{{ page.crowdcast }}?navlinks=false&embed=true" style="border: 1px solid #EEE;border-radius:3px;" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" allow="microphone; camera;"></iframe>
{% endif %}
