---
layout: base
---
{% assign hackers = site.hackers | where: 'draft', false %}

<p class="lead my-5">{{ site.description }}</p>
<h1 class="mb-5"><span>Hackers</span></h1>

<section class="hackers row">
  {% for hacker in hackers reversed %}
    <article class="col-12 col-md-6 mb-5">
      <div class="wrapper d-flex flex-column justify-content-center">
        <div class="photo"><img src="{{ hacker.id | replace: '/index', '' }}/photo.jpg" alt="{{ hacker.name }}"/></div>

        <a class="d-flex flex-column align-items-center justify-content-center text-center flex-grow-1 px-2" href="{{ hacker.url | replace: 'index', '' }}">
          <h2>{{ hacker.name }}</h2>
          <div class="content">
            <div class="d-none d-sm-block">{{ hacker.headline | markdownify  }}</div>
            <time datetime="{{ hacker.date | date_to_xmlschema }}">{{ hacker.date | date_to_long_string }}</time>
          </div>
        </a>
      </div>
    </article>
  {% endfor %}

  <article class="nominate col-12 col-md-6 mb-5">
    <div class="wrapper d-flex flex-column justify-content-center">
      <div class="photo"><img src="/assets/images/nominate.jpg" alt="Nominate"/></div>

      <a class="d-flex flex-column align-items-center justify-content-center text-center flex-grow-1 px-2" href="#">
        <h2>Nominate our next guest!</h2>
        <div class="content">Who do you think we should interview next? Tweet us with suggestions</div>
      </a>
    </div>
  </article>
</section>

<script src="https://unpkg.com/typed.js@2.0.8/lib/typed.min.js"></script>
<script>
  // type effect
  new Typed('h1 span', {
    strings: [
      'Developers:',
      'Engineers:',
      'Technologists:',
      'Programmers:',
      'Leaders:',
      'Designers:',
      'Architects:',
      'Students:',
      'Hackers:'
    ],
    typeSpeed: 100,
    backSpeed: 50,
    backDelay: 1000,
    loop: true,
    cursorChar: '_'
  })

  // random order of hackers on page
  // var hackers = document.querySelector('.hackers')
  // for (var i = hackers.children.length; i >= 0; i--) {
  //   hackers.appendChild(hackers.children[Math.random() * i | 0])
  // }

  // // keep nominate tile last
  // hackers.appendChild(hackers.querySelector('.nominate'))
</script>
